.place-top__url{
    display: flex;
    justify-content: end;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
	width: 48%;
    margin: 0;
	letter-spacing: 2px;
	font-size: 12px;
	text-transform: uppercase;
	color: #AAAAAA;
	}


.place-top__url a:hover{
    opacity: 60%;
}

.place-top__url a{
    color: white;
}

@media(max-width: 540px){
	.place-top__url{
		width: 100%;
    }
	}